@model IEnumerable<pdks.Models.PersonelPuantaj>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CalismaGunu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GirisSaati)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CikisSaati)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mazeret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonelOzlukBilgileri.TcKimlik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CalismaGunu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GirisSaati)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CikisSaati)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mazeret)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonelOzlukBilgileri.TcKimlik)
        </td>
        <td>
            @Html.ActionLink("Guncelle", "Guncelle", new { id=item.Id }) |
            @Html.ActionLink("Goster", "Goster", new { id=item.Id }) |
            @Html.ActionLink("Sil", "Sil", new { id=item.Id })
        </td>
    </tr>
}

</table>
