@model IEnumerable<pdks.Models.PersonelSaglikDurumlari>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Kayıt", "KayitEkle")
</p>
<table class="table table-responsive table-bordered table-hover table-primary" >
    <tr class="table-active">
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.Alerji)
        </th>
        <th class="col-sm-1">
                 Kalp
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.KasEklem)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.GormeKusuru)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.IsitmeKaybi)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.BagisiklikGuclugu)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.KronikHastalik)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.AstimKoah)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.SindirimRahatsizliklari)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.RuhsalHastalik)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.ZihinselHastalik)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.KanGrubu)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.PersonelOzlukBilgileri.TcKimlik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="text-md-center">
        <td>
            @Html.DisplayFor(modelItem => item.Alerji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KalpHastaligi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KasEklem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GormeKusuru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsitmeKaybi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BagisiklikGuclugu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KronikHastalik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AstimKoah)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SindirimRahatsizliklari)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuhsalHastalik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZihinselHastalik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KanGrubu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonelOzlukBilgileri.TcKimlik)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Güncelle", new { id=item.Id }, new {@class="btn btn-warning"}) 
            @Html.ActionLink("Details", "Details", new { id=item.Id },new { @class = "btn btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
